<p>user works!</p>
<h1>headerrrrrr</h1>
<input type="text" #inputBox (keyup)="myFunction(inputBox.value)" (blur)="blurEvent()"> Enter Name Here
<button (click)="myFunction(inputBox.value)">click</button>
input box value :{{inputBoxvalue}}

<div (mouseover)="myEvent()">
    mouse over Event
</div>

{{arrayitem}} <br>
{{obj.name}} {{obj.age}}
<br> <br>
<input type="checkbox" value="item 1"(change)="checkboxEvent1 ($event)"> item 1 <br> <br>
<input type="checkbox" value="item 2"(change)="checkboxEvent($event)"> item 2














